<%- include("partials/header")%>
  <div class="mt-10 w-[80%] mx-auto p-10">
    <h1 class="mb-5 text-3xl">This is Create Appointment</h1>
    <form action="/appointment/<%= pid%>" method="post">
      <input class="border" type="text" name="status" placeholder="scheduled, completed, canceled">
      <input class="border" type="date" name="date" placeholder="Date">
      <button>Submit</button>
    </form>

  </div>
  <%- include("partials/footer")%>